{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-console": "warn"
  },
  "plugins": [
    "html",
    "import"
  ]
}
