$mobile-width-only: "(max-width: 767px)";
$phablet-width: "(min-width: 400px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1170px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$main-font: "Open Sans", Arial, sans-serif;
